@charset "utf-8";

.navbar .bg-color{
    position: absolute;
    width: 100%; height: 600px;
    background: linear-gradient(90deg, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    transform: skew(0,-15deg);
}

.video video{
    object-fit: fill; width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}
.video .txtWrap{bottom: 30px; left: 40px;}
.card-view .banner{
    border-radius: 5px; overflow: hidden;
    box-shadow: var(--box-shadow1)
}
.bg-banner1{background-color: #02B3E4 !important;}
.bg-banner2{background-color: #00CCCC !important;}

.banner .card{
    border-radius: 10px; overflow: hidden;
    box-shadow: var(--box-shadow1)
}

.advan .icon{
    width: 80px; height: 80px;
    border-radius: 50%; background: #fff;
    box-shadow: var(--box-shadow1)
}
.advan .img-view{height: 400px;}
.advan .img-view img{border-radius: 5px; box-shadow: var(--box-shadow1)}
.advan .img1st{max-width: 400px; right: 2rem; top: 1.5rem;}
.advan .img2nd{max-width: 300px; left: 2rem; bottom: 1.5rem;}

.contact{
    background: url(../images/contact-cover.jpg) no-repeat center;
    background-size: cover;
}

.lazy-load{transform: translateY(100px); opacity: 0; transition:1s;}
.lazy-load.fade{transform: translateY(0); opacity: 1;}

@media screen and (max-width:990px) {
    .advan .img1st{max-width: 300px; right: 2rem; top: 1.5rem;}
    .advan .img2nd{max-width: 200px; left: -1rem; bottom: 7rem;}
}
@media screen and (max-width:768px){
    .advan .img1st{max-width: 400px; right: 2rem; top: 1.5rem;}
    .advan .img2nd{max-width: 300px; left: 2rem; bottom: 1.5rem;}
}